.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

# built pages and cache:
*_cache/
*_freeze/


# tex stuff:
*.aux
*.log
tikz*.*


# trials:
test*.*
test.*

# not epub and not pdf book:

_book/*.pdf
_book/*.epub












