.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

# built pages and cache:
*_cache/
*_files/
*_freeze/
#_book/

# tex stuff:B
*.aus
*.log
tikz*.*


# trials:
test*.*
test.*





# cache:

_freeze/  

_cache/






