project:
  type: book
  resources:
    - "!**/Icon*"

engine: knitr


lang: de-DE
citation: true
#google-scholar: true
description: |
  Einf端hrung in die Statistik mit einem Schwerpunkt auf Prognose-Modellierung
license: "CC-BY-NC-ND-4.0" 
keywords:
- Statistik
- Prognose
- Modellierung
- R
- Datenanalyse
- Regression



# search-replace:
#   z.B.: z.\thinspace B.
#   d.h.: d.\thinspace h.



book:
  title: "Statistik1"
  subtitle: "Einf端hrung in die Prognose-Modellierung"
  author: 
    - name: Sebastian Sauer
      orcid: 0000-0003-1515-8348
    # - affiliation: Hochschule Ansbach
  image: img/statistik1_icon.png
  cover-image: img/statistik1-cover/statistik1-cover.001.png
  description: "Einf端hrung in die Statistik mit einem Schwerpunkt auf Prognose-Modellierung"
  date: now
  doi: 10.5281/zenodo.10082518
  reader-mode: true
  page-footer:
    border: true
    left: |
      Powered by [Quarto](https://quarto.org)
    center: |
      [Impressum](/impressum.qmd)
    right: |
      [Datenschutzhinweise](/datenschutz.qmd)
  
  sidebar: 
    logo: img/statistik1_icon.png
  favicon: img/statistik1_icon.png
  repo-url: https://github.com/sebastiansauer/statistik1
  repo-actions: [issue] 
   
  #doi: 
  chapters:
    - index.qmd
    - 005-orga.qmd
   
    - part: Vorbereiten
      chapters:
      - 010-rahmen.qmd
      - 020-R.qmd
      - 030-aufbereiten.qmd

    - part: Grundlagen des Modellierens
      chapters:
      - 040-verbildlichen.qmd
      - 050-zusammenfassen.qmd
      - 060-modellguete.qmd
      - 070-zusammenhaenge.qmd

    - part: Geradenmodelle
      chapters:
      - 080-regression1.qmd
      - 090-regression2.qmd

      - references.qmd

  appendices:
      - 110-definitions.qmd
      - 120-mariokart.qmd
      - 125-probeklausur.qmd
      - 130-autor.qmd

      # - datenschutz.qmd
      # - impressum.qmd



# bibliography: bib/bib.bib
bibliography: specifics/bib-local.bib
csl: specifics/apa7.csl



  
editor: source
keep-md: false
#prefer-html: true

execute: 
  freeze: auto 
  warning: false
  cache: true
  message: false

knitr:
  opts_knit:
    verbose: true
    fig-align: center
  opts_chunk: 
    collapse: true
    out.width: "100%"
    fig.align: center
    results: hold
    rows.print: 5
    #dev: cairo_pdf
    # comment: "#>" 
    R.options:
      knitr. graphics.auto_pdf: true  # use pdf version of image for pdf output formats


format:

  # titlepage-pdf:
  #   pdf-engine: lualatex
  #   mainfont: "Lora"
  #   sansfont: "Lato"
  #   monofont: "Roboto"  # Roboto Thin
  #   prefer-html: true
  #   include-in-header:
  #   - specifics/style.tex
  # 
  #   documentclass: scrbook
  #   classoption: ["twoside ", "open=any"]
  # 
  #   toc: false
  #   toc-depth: 2
  #   lang: de-DE
  #   number-sections: true
  #   colorlinks: false
  #   keep-tex: true
  #   geometry:
  #     - paperwidth=7in
  #     - paperheight=10in
  #   df-print: kable
  #   fig-align: center
  #   # include-in-header:
  #   # - specifics/style.tex
  # 
  # 
  #   # cite-method: citeproc
  #   # section-refs-bibliography: bib/bib.bib
  #   mermaid:
  #     theme: default
  #   out-width: 75%
  #   csquotes: true
  #   fig-format: pdf
  #     #   coverpage-include-file:
  #     # - tex/copyright.tex
  #   titlepage-include-file:
  #     - specifics/copyright.tex
  #     - specifics/dedication.tex
  #     - specifics/emptypage.tex
  #   titlepage: classic-lined
  #   #titlepage-logo: "none"
  #   titlepage-theme:
  #     elements: ["\\titleblock", "\\authorblock", "\\vfill"]
  #     page-align: "center"
  #     title-style: "doublelinewide"
  #     title-fontsize: 30
  #     title-fontstyle: "uppercase"
  #     title-space-after: "0.1\\textheight"
  #     subtitle-fontstyle: ["Large", "textit"]
  #     author-style: "plain"
  #     author-sep: "\\hskip1em"
  #     author-fontstyle: "Large"
  #     author-space-after: "2\\baselineskip"
  #     affiliation-style: "numbered-list-with-correspondence"
  #     affiliation-fontstyle: "large"
  #     affiliation-space-after: "0pt"
  #     footer-style: "plain"
  #     footer-fontstyle: ["large", "textsc"]
  #     footer-space-after: "0pt"
  #     logo-size: "0.25\\textheight"
  #     logo-space-after: "1cm"
  # 
  #   #title-fontfamiliy: "QTWeise.otf"
  #   #page-fontfamiliy: "QTWeise.otf"
  #   #subtitle-fontfamiliy: "QTWeise.otf"
  #   titlepage-footer: | # text
  #     Sebastian Sauer\
  #     CC-BY-NC-ND-4.0\
  #     ISBN: 9798343798951\
  #     Independently published\
  # 
  #   coverpage: false
  #   coverpage-bg-image: "img/fig-lernen2.png"
  #   coverpage-title: "Statistik1"
  #   coverpage-author: "Sebastian Sauer"
  #   coverpage-footer: "Einf端hrung in die Statistik mit einem Schwerpunkt auf Prognose-Modellierung"
  # 
  #   coverpage-theme:
  #     page-html-color: "F6D5A8"
  # 
  #     #page-fontfamiliy: "LinLibertine_R.otf"
  #     #subtitle-fontfamiliy: "QTWeise.otf"
  #     #title-fontfamily: "QTDublinIrish.otf"
  #     title-fontsize: 100
  #     title-align: "right"
  #     title-bottom: "10in"
  #     title-color: "white"
  #     #title-fontfamiliy: "Karla-VariableFont_wght.ttf"
  # 
  #     author-style: "plain"
  #     author-fontsize: 20
  #     author-align: "right"
  #     author-bottom: "8.5in"
  #     author-color: "white"
  # 
  # 
  #     footer-style: "plain"
  #     footer-color: "gray"
  #     footer-align: "right"
  #     footer-bottom: "2.5in"
  #     footer-fontsize: 30
  # 
  #     header-style: "none"
  #     date-style: "none"
  #     bg-image-opacity: 0.7





  html:
    toc: true
    lang: de
    theme:
      light: lumen
      dark: darkly
    #css: specifics/styles.css
    number-sections: true
    df-print: paged
    code-fold: false

    fig-align: center
    fig-asp: 0.7

    code-link: true
    code-annotations: true
    mermaid:
      theme: default
    out-width: 75%
    dev: png
    fig-format: png
    css: webex.css  # r-exams
    include-after-body: webex.js  # r-exams
    lightbox: true

  # pdf:
  #   toc: false
  #   toc-depth: 2
  #   lang:
  #     de-DE
  #   prefer-html: true
  #   number-sections: true
  #   colorlinks: false
  #   keep-tex: true
  #   geometry:
  #     - paperwidth=7in
  #     - paperheight=10in
  #   df-print: kable
  #   fig-align: center
  #   include-in-header: 
  #   - specifics/style.tex
  #   mainfont: "Lora"
  #   sansfont: "Lato"
  #   monofont: "Roboto"
  #   pdf-engine: lualatex
  #   # cite-method: citeproc
  #   # section-refs-bibliography: bib/bib.bib
  #   documentclass: scrbook
  #   mermaid:
  #     theme: default
  #   out-width: 75%
  #   csquotes: true
  #   fig-format: pdf    
  #   fig-asp: 0.7
  #   #fig-pos: "H"



    
  # epub:
  #   #prefer-html: true
  #   fig-align: center
  #   fig-asp: 0.7
  #   fig-format: png
  #   toc: true
  #   toc-depth: 2
  #   lang: de-DE
  #   date: today
  #   css:
  #     specifics/epub.css
  #   # html-math-method:
  #   #   method: webtex
  #   #   url: "https://latex.codecogs.com/svg.latex?"
  #   out-width: 75%
  #   mermaid:
  #     theme: default
  #   knitr:
  #     opts_knit:
  #      verbose: true
  #      fig-align: center
  #     opts_chunk: 
  #      collapse: true
  #      out.width: "100%"
  #      fig.align: center
  #      results: hold
  #      rows.print: 5
  #      dev: "png"
