.reveal .slides figcaption { display: none; }
.reveal .slides figcaption:has(.citation) { display: block; }
.reveal .slides .quarto-figure { margin-bottom: 0; }
.reveal .slides p:has(> img), .reveal .slides p:has(> a > img) { text-align: center; }
.reveal .slides .MathJax_Display { overflow-x: auto; max-width: 100%; }
.reveal .slides #refs { font-size: 0.45em; }
.reveal .slides pre.mermaid { text-align: center; }
.reveal .slides .show-caption figcaption { display: block; }
