.justify {
  text-align: justify !important
}

.centered {
  text-align-last: center;
}

.xlarge {
  font-size: 300%;
}


.xxlarge {
  font-size: 500%;
}



.xsmall {
  font-size: 50%;
}

.orange {
  color: #E69F00;
}

.lightblue {
  color: #56B4E9;
}

.green {
  color: #009E73;
}

.blue {
  color: #0072B2;
}


.ycol {
  color: #E69F00;
}

.modelcol {
  color: #56B4E9;
}

.errorcol {
  color: #009E73;
}

.beta0col {
  color: #D55E00;
}

.beta1col {
  color: #0072B2
}

.xcol {
  color: #CC79A7
}




html[lang="de"] q { quotes: "„" "“" "‚" "‘" }

quotes: "„" "“" "‚" "‘";


